NEXT_PUBLIC_SUPABASE_URL=https://uzwzqmkfxmtngfqiihfwo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6d3pxbWtmeG10bmdmcWloZndvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NzM5MDUsImV4cCI6MjA5MTA0OTkwNX0.oUGT0jm6afGfXoNTdzT-MlUBPgm5qCK4xx0jqWX2QDI
NEXT_PUBLIC_GOOGLE_AI_API_KEY=AIzaSyA-YY-JYZgKkIvMQWCc0m5ssFnPq5IDlxI